.titles{
    font-size: 35px;
    color:  #2A3442;
}

.news-articles-content{
    padding: 10px;
    font-size: 16px;
    color: black;
}


.dark-blue{
    background-color: #2A3442;
}

.coral{
    background-color:  #EF6D72;
}

h4 {
    font-size: 16px;
}

.article-link {
    font-size: 24px;
}

.side-dropdown {
    padding-left: 32px;
}

.bookmarks {
    padding-left: 32px;
}

.saveBtn {
    cursor: pointer;
}
@media (min-width: 600px){
    .brand-logo{
        margin-left: 50px;
    }
}
