.twitter-trends{
    font-size: 35px;
    color:  #2A3442;
}
.news-articles{
    font-size: 35px;
    color:  #2A3442;
}

.news-articles-content{
    padding: 10px;
    font-size: 16px;
    color: black;
}

.news-article-item{
    border-bottom: #EF6D72 3px solid;
}

.twitter-article-item{
    border-bottom: green 3px solid;
}

.dark-blue{
    background-color: #2A3442;
}

.coral{
    background-color:  #EF6D72;
}

h4 {
    font-size: 16px;
}

.article-link {
    font-size: 24px;
}

.side-dropdown {
    padding-left: 32px;
}

.bookmarks {
    padding-left: 32px;
}
